* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing:border-box ;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

nav {
    padding-right: 110px;
}

nav ul {
    list-style: none;
    display: flex;
}

.logo {
    font-size: 30px;
    color: green;
    font-weight: 900;
    text-decoration: none;
    padding-left: 60px;
}

.logo:hover {
    color: blue;
    text-shadow: 0 0 25px grey,
        0 0 50px grey;
    transform: scale(1.1);
}


.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: burlywood;
    font-weight: 600;
    margin: 0 20px;
    border-bottom: 4px solid transparent;
    transition: all 0.3s ease;
}

.navbar a:hover{
    color: blue;
    border-bottom: 3px solid blue;

}

.navbar a:hover,
.navbar a.active {
    color: blue;
    border-bottom: 3px solid blue;

}